<launch>
    <node name="pose_planner" pkg="cubic_polynomial_planner" type="pose_planner" output="screen"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>

    <!--setting parameters for topics-->
    <param name="/feedback_pose_topic" value="/gen3/feedback/pose"/>
    <param name="/reference_pose_topic" value="/gen3/reference/pose"/>
    <param name="/reference_twist_topic" value="/gen3/reference/twist"/>

</launch>

